<%- include('partials/header') %>
<!-- <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet"> -->

<div id="categoryAlert1" class="alert alert-warning alert-dismissible cat-alert-1 "   role="alert">
  <strong>Welcome! Please select a category.</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div id="categoryAlert2" class="alert alert-warning alert-dismissible cat-alert-2 "   role="alert">
  <strong>New Category Selected!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- <div class="dropdown show dropright">
  <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <h6 class="dropdown-header">||| National Book Award |||</h6>
    <a class="dropdown-item" href="#">Fiction</a>
    <a class="dropdown-item" href="#">Non-Fiction</a>
    <a class="dropdown-item" href="#">Poetry</a>
    <a class="dropdown-item" href="#">Any</a>
    <h6 class="dropdown-header">||| Pulitzer Prize |||</h6>
    <a class="dropdown-item" href="#">Fiction</a>
    <a class="dropdown-item" href="#">Non-Fiction</a>
    <a class="dropdown-item" href="#">Poetry</a >
    <a class="dropdown-item" href="#">Any</a>
  </div>
</div> -->

<!-- drop down menu of category options -->
<div id="bookMenu">
   <div  class="btn-group menuDiv">
      <button type="button" class="btn btn-info">Categories</button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
         <h6 class="dropdown-header">||| National Book Award |||</h6>
         <a id="NAT1" class="dropdown-item" href="#">Fiction</a>
         <a id="NAT2" class="dropdown-item" href="#">Non-Fiction</a>
         <a id="NAT3"   class="dropdown-item" href="#">Poetry</a>
         <a id="NAT" class="dropdown-item" href="#">Any</a>
         <h6 class="dropdown-header">||| Pulitzer Prize |||</h6>
         <a id="PUL1" class="dropdown-item" href="#">Fiction</a>
         <a id="PUL2" class="dropdown-item" href="#">Non-Fiction</a>
         <a id="PUL3" class="dropdown-item" href="#">Poetry</a >
         <a id="PUL" class="dropdown-item" href="#">Any</a>
      </div>
   </div>
</div>


<div id="bookContent" class="container contentDiv lead alert  ">
   <button type="button" class="bcButton btn btn-primary btn-lg ">Generate</button>

</div>

<!-- these paragraph elements will contain the book titles extracted in app.js -->
<p id="nbtFiction" style="display:none;"><%=nbtFiction%></p>
<p id="nbtNonFiction" style="display:none;"><%=nbtNonFiction%></p>
<p id="nbtPoetry" style="display:none;"><%=nbtPoetry%></p>
<p id="pptFiction" style="display:none;"><%=pptFiction%></p>
<p id="pptNonFiction" style="display:none;"><%=pptNonFiction%></p>
<p id="pptPoetry" style="display:none;"><%=pptPoetry%></p>



<%- include('partials/footer') %>
